body{
    background-color: darkslategray;
}
.doctor1{
    position: absolute;
    top: 310px;
    left: 25px;
    width: 200px;
    height: 200px;
}
.doctor2{
    position: absolute;
    top: 450px;
    right: 25px;
    width: 200px;
    height: 200px;
}
.banner{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1535px;
    height: 250px;
}
.home{
    position: absolute;
    top: 0px;
    left: 0px;
}
.people{
    position: absolute;
    top: 0px;
    left: 700px;
}
.donate{
    position: absolute;
    top: 0px;
    right: 0px;
}
.about{
    position: absolute;
    top: 300px;
    left: 354px;
}
.doctor1text{
    position: absolute;
    top: 510px;
    left: 25px;
}
.doctor2text{
    position: absolute;
    top: 650px;
    left: 1310px;
}
.donation{
    position: absolute;
    top: 270px;
    left: 600px;
}
.doctor21text{
    position: absolute;
    top: 650px;
    left: 820px;
}
.doctor21{
    position: absolute;
    top: 440px;
    right: 515px;
}

@media only screen and (max-width:1000px){
    body{
        background-color: red;
    }
    .doctor1{
        position: absolute;
        top: 310px;
        left: 25px;
    }
    .doctor2{
        position: absolute;
        top: 550px;
        left: 25px;
    }
    .banner{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1000px;
        height: 250px;
    }
    .home{
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .people{
        position: absolute;
        top: 0px;
        left: 475px;
    }
    .donate{
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .about{
        position: absolute;
        top: 300px;
        left: 354px;
    }
    .doctor1text{
        position: absolute;
        top: 510px;
        left: 25px;
    }
    .doctor2text{
        position: absolute;
        top: 735px;
        left: 225px;
    }
    .donation{
        position: absolute;
        top: 270px;
        left: 370px;
    }
    .doctor21text{
        position: absolute;
        top: 650px;
        left: 320px;
    }
    .doctor21{
        position: absolute;
        top: 640px;
        left: 115px;
    }
}
