body{
    background-color: darkslategray;
}
.doctor1{
    position: absolute;
    top: 310px;
    left: 25px;
}
.doctor2{
    position: absolute;
    top: 500px;
    left: 1050px;
}
.banner{
    position: absolute;
    top: 0px;
    left: 0px;
}
.home{
    position: absolute;
    top: 0px;
    left: 0px;
}
.people{
    position: absolute;
    top: 0px;
    left: 708px;
}
.donate{
    position: absolute;
    top: 0px;
    right: 0px;
}
.about{
    position: absolute;
    top: 300px;
    left: 354px;
}
.doctor1text{
    position: absolute;
    top: 510px;
    left: 25px;
}
.doctor2text{
    position: absolute;
    top: 710px;
    left: 1050px;
}
.donation{
    position: absolute;
    top: 270px;
    right: 0px;
}
.doctor21text{
    position: absolute;
    top: 650px;
    left: 820px;
}
    .doctor21{
        position: absolute;
        top: 440px;
        right: 515px;
    }